h1{
    text-align: center;
    color: blue;
    
}
div{
    height: 200px;
    width: 400px;
    background-color:dodgerblue;
    color: palevioletred;
    border: 2px solid black;
    animation-name: animation;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}
@keyframes animation{
    form{font-size: 50px;}
    to{font-size: 100px;}
}

   

