h1{
    background-color: yellow;

}
@media (width:400px){
    h1{
        background-color: red;

    }
    div{
        height: 100px;
        width: 100px;
        background-color: blue;
        animation: anim 5s linear 2s infinite normal ;

    }
    @keyframes anim{
    0%{ 
        background-color: red;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: gray;
    }
    padding: 50px;
    }
}