div{
    height: 100px;
    width: 100px;
    background-color: rgba(241, 18, 18, 0.969);
    border: 2px solid yellow ;
    margin: 0 auto;
    margin-top: 10px;
  transition: margin-top 5s ease-in-out 0.2s;
  /* in this trasition properties we know how 
  when i hover the div block then its taking marigin in 
  the top of 400px and take time to 2s for this trstion */

}
div:hover{
 margin-top: 400px;
 background-color: black;
 border-radius: 50px;
}