.card{
    height: 400px;
    width: 320px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;

}
span{
    color: hsl(320, 87%, 43%);
}
h1{
    color: rgb(175, 9, 9);
}
img{
    width: 100%;
    border-radius: 25px;

}
#main{
    display: flex;
    justify-content: space-evenly;
}

