h1{
    background-color: blanchedalmond;
    color: rgb(113, 15, 225);
    text-align: center;
    text-decoration : wavy red underline;
    line-hight:30px;
    
    
}
p{
    color: #0afa0a;
    background-color: #000;
    text-alig:justify;
    font-family:arial;
}
button{
    background-color:red;
    color:mediumspringgreen;

}
a{
    color:#000;
    text-decoration:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    text-align: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 223, 127); 
}