
/* this is the day 6 css propertis assignment and their parcatice questio 
in the css and web page code  */

#mainTopic{
    color:blue;
}
*{
    text-align:center;
}
h1,h3,h5{
    font-family: georgia;

}
p{
    background-color:cornflowerblue;
    color:white;
}
div button {
    background-color: purple;
    color:azure;
}
button:hover{
    color:blue;
    background-color:yellow;
}
p :nth-last-of-type(2n){
    color:yellow;
}
h1::first-letter{
    color:red;
}
input[type="checkbox"]:checked +label{
    color:green;
}
p:active{
    color:red;
    font-family:'Times New Roman', Times, serif;
}
