#outer{
    border: 5px solid green;
    height: 410px;
    width: 410px;
    margin: 10px auto;
    background-color: white; 
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.buttoon{
    height: 100px;
    width: 100px;
    background-color: gray;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.5em;

}
#layout{
    height: 55px;
    width: 900px;
    background-color: pink;
    border: 2px solid black;
    display: flex;

    align-items: center;
    justify-content: flex-start;
}
.option{
    height: 50px;
    width: 80px;
    color:black;
    margin-left: 10px;
    font-size: 24px;
    line-height: 50px;

}
.reverse{
    height: 50px;
    width: 80px;
    color:rgb(191, 13, 13);
    margin-right: 10px;
    font-size: 24px;
    line-height: 50px;
    text-align: end;


}